{{ define "foot" }}
<footer>


  <!-- FOOTER BOTTOM -->
  <div class="gl-footer-bottom-wrapper">
    <div class="container">
      <div class="row">
        <!-- COPYRIGHT INFO -->
        <div class="gl-copyright-info-wrapper">
          <p>Copyright &copy; 2016 Glimpse. All rights reserved</p>
        </div>
        <!-- COPYRIGHT INFO -->

        <div class="gl-social-info-wrapper">
          <ul>
            <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-behance"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-dribbble"></i>
                </a>
            </li>
            <li>
                <a href="#">
                  <i class="fa fa-vimeo"></i>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- END -->
</footer>
<!-- FOOTER END -->

<script src="../js/jquery.min.js"></script>

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBF0FPDHlurGkDKua7PfZjpD2fr2rQsRw0&libraries=places"></script>
<script src="js/google-autocomplete.js"></script>

<script src="js/plugins.js"></script>
<script src="js/scripts.js"></script>
<script src="js/main.js"></script>

{{ end }} 
