<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" . }}
  <title>Coworking</title>
</head>

<body class="gl-search-template gl-search-style-map-right gl-search-style-alt">

<div id="gl-circle-loader-wrapper">
  <div id="gl-circle-loader-center">
    <div class="gl-circle-load">
      <img src="images/ploading.gif" alt="Page Loader">
    </div>
  </div>
</div>

<!--================================
            SIDE MENU
=================================-->
<!-- PAGE OVERLAY WHEN MENU ACTIVE -->
<div class="gl-side-menu-overlay"></div>
<!-- PAGE OVERLAY WHEN MENU ACTIVE END -->




<!-- HEADER -->
<header class="gl-header">
  <!-- BOTTOM BAR/NAVIGATION -->
  <div class="gl-header-bottombar">
    <!-- Navigation Menu start-->
    <nav class="navbar gl-header-main-menu" role="navigation">
      <div class="container-fluid">

        <!-- Navbar Toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Logo -->
            <a class="navbar-brand" href="index.html"><img class="logo" src="images/logo-header.png" alt="GLIMPSE"></a>
        </div>
        <!-- Navbar Toggle End -->

     
        <!-- navbar-collapse end-->


      </div>
    </nav>
    <!-- Navigation Menu end-->
  </div>
  <!-- END -->

    <a href="#" class="gl-search-expand-btn">Search Expand</a>
    <!-- SEARCH FILTER -->
    <div class="gl-search-filter-bar">
      <div class="container-fluid">
        <div class="row">

          <div class="gl-search-filter-wrapper">
            <form action="#">
              <div class="gl-search-inputs-box">
                <div class="gl-filter-options gl-search-keyword">
                  <input type="text" name="gl-jobs-search-keyword" id="gl-jobs-search-keyword" placeholder="Keywords">
                </div>

                <div class="gl-filter-options gl-search-location">
                  <input type="text" name="gl-search-location" id="gl-search-location" placeholder="Location">
                </div>

                <div class="gl-search-category gl-filter-options">
                  <select class="gl--search-category-selection">
                    <option>&nbsp;</option>
                    <option value="fulltime">Fulltime</option>
                    <option value="parttime">Part Time</option>
                    <option value="remote">Remote</option>
                  </select>
                </div>

                <div class="gl-range-wrapper gl-job-filter-options">
                  <span class="gl-filter-inp-title">Business Price</span>
                  <div class="gl-salary-range-wrapper gl-range-slider">
                    <input type="text" id="gl-salary-range" name="gl-salary-range"/>
                  </div>
                </div>
              </div>
              <input type="submit" value="Filter" class="gl-btn">
            </form>
          </div>

        </div>
      </div>
    </div>
      <!-- END -->
</header>
<!-- HEADER END -->

<!-- PAGE CONTETNT -->
<section class="gl-page-content-section">
  <div class="container-fluid">
    <div class="row">
      <div id="gl-result-section" class="gl-search-map-result-wrapper">
        <!-- SEARCH -->
        <div class="gl-search-filter-result-wrapper">
          <!-- SEARCH META -->
          <div class="gl-search-meta-wrapper">
            <p class="gl-search-number">8 Results found</p>
            <div class="gl-search-tags">
              <a href="#" class="gl-tag-btn gl-design">design</a>
              <a href="#" class="gl-tag-btn gl-ideas">ideas</a>
              <a href="#" class="gl-tag-btn gl-remote">remote</a>
            </div>

            <a href="#" class="gl-reset-btn">Reset</a>
          </div>
          <!-- SEARCH META END -->

          <div class="gl-search-result-wrapper">
                  
          {{range .Popvenues}}
          <!-- FEATURED ITEMS -->
                      <div class="gl-featured-items col-md-4 col-sm-4 col-xs-12">
          <div class="gl-feat-items-img-wrapper">
            <picture>
                <source media="(min-width: 768px)" srcset= {{ .CoverImage }} />
                <img alt="Category Image" srcset= {{ .CoverImage }} />
            </picture>

            <span class="gl-price-tag"> <span class="gl-item-rating">
              <i class="fa fa-star"></i>
               {{ .OverallRating }}
            </span></span>
          </div>

          <div class="gl-feat-item-details">
            

            <h3>
              <a href="#">{{ .Name }}</a>
            </h3>
            <div class="gl-item-location">
              <i class="ion-ios-location-outline"></i>
               <span>{{ .Address }}</span>
            </div>
          </div>

          <div class="gl-feat-item-metas">
            <ul class="gl-feature-info">
              <li><i class="fa fa-wifi" title="İnternet Hızı"></i><span> {{ .WifiAvgSpeed }} Mbps </span></li>
              <li><i class="fa fa-plug" title="Priz Sıklığı"></i><span> {{ .PlugRating }}/10 </span></li>
              <li><i class="fa fa-volume-up" title="Gürültü Seviyesi"></i><span> {{ .NoiseRating }}/10 </span></li>
              <li><i class="fa fa-coffee" title="İçecek Lezzeti"></i><span> {{ .CoffeeRating }}/10 </span></li>
              <li><i class="fa fa-glass" title="Alkol var mı?"></i> {{if .HasAlcohol }} Var {{else}} Yok {{end}}</li>
            
            </ul>

           
          </div>
        </div>
         {{ end }}
          <!-- END -->

        

        <!-- SEARCH MAP -->
        <div class="gl-search-map-wrapper gl-split-map">
          <div id="gl-search-map"></div>
          <a href="#gl-result-section" class="gl-scroll-down gl-btn">result</a>
        </div>
        <!-- SEARCH MAP END -->
      </div>
    </div>
  </div>
</section>
<!-- PAGE CONTETNT END -->

{{ template "foot" . }}    

<script src="../js/infobubble-richmarker.js"></script>
<script src="../js/restaurant-map/google-searchmap-init.js"></script>
<script src="../js/google-autocomplete.js"></script>
</body>
</html>