<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "head" . }}
  <title>IBu sayfa başka sayfa</title>
</head>

<body>


    {{ template "navbar" . }}
 
   <div class="container">
   <div class="row">

     
        <div class="col-md-8 col-md-offset-2 ">
        <p class="intro">Wifi hızı, priz sıklığı, kahve lezzeti, gürültü seviyesi... Ajanlarımızın güvenilirliği ile işine en uygun mekanı bul.  </p></span>
      

</div></div>

        <div class="row">

        {{range .Popvenues}}
        <div class="col-xs-6 col-sm-3 col-md-3 ">
        <a href="#" >
           <div class="thumbnail-region text-center">
           <img src="{{ .CoverImage }}" class="img-responsive"></div>
      
        <div class="caption-region">
            <p class="caption-town">{{ .Name }}</p>
            <p class="caption-city">{{ .Address }}</p>
        </div>
        </a>
    </div>
        
        {{ end }}
      


 

</div>

</div></div>
    {{ template "foot" . }}    
    <script src="js/typed.min.js"></script>
    <script>
    $(function(){
        $("#typed").typed({
            loop: true,
             typeSpeed: 100,
            stringsElement: $('#typed-strings')
        });
    });
    </script>
</body>

